VisualStudio/IoT_plus_Test
lib/myGY271/example/basic/.travis.yml
lib/myGY271/example/basic/.vscode/extensions.json
lib/myTCS3200/example/basic/.travis.yml
lib/myTCS3200/example/basic/.vscode/extensions.json
lib/myINA219/example/basic/.travis.yml
lib/myINA219/example/basic/platformio.ini
lib/myINA219/example/basic/.vscode/extensions.json
projects/WeatherStation/WeatherArduino/.travis.yml
projects/WeatherStation/WeatherESP8266/.travis.yml
projects/WeatherStation/WeatherArduino/.vscode/extensions.json
projects/WeatherStation/WeatherESP8266/.vscode/extensions.json
projects/WateringATTiny24A_DS3231/.travis.yml
projects/WateringATTiny24A_DS3231/.vscode/extensions.json
